<header class="site-header">
  <div class="site-logo-container">
    <a href="/">Drivebox</a>
  </div>

  <search class="search">
      <form action="<%= currentPath %>" method="GET" class="search-form">
        <input type="search" name="search" placeholder="Search..." class="searchbar" />
        <button type="submit" class="search-submit">Search</button>
      </form>
  </search>

  <span class="account-section">
    <% if (user) { %>
      <button class="account-menu-toggle">My Account</button>
    
      <span class="account-menu hidden">
        <span class="account-menu-greeting">Hi, <%= user.username %>!</span>
        <small class="account-menu-detail"><%= user.email %></small>
        <hr>
        <button>Settings</button>
        <button>Manage Account</button>
        <button>Theme</button>
        <hr>
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      </span>
    <% } %>
  </span>
</header>

<div class="layout-submenu">
  <div class="layout-submenu__details">
  <% if (typeof folder !== 'undefined') { %>
    <p class="greeting"><%= folder.name %></p>
    <span class="folder-menu-section">
      <button class="folder-menu-toggle"><i data-feather="settings" class="btn-feather-icon"></i></button>
      <span class="folder-menu hidden">
        <a href="/folders/<%= folder.id %>/edit" class="folder-menu__item">Rename Folder</a>
        <hr>
        <form action="/folders/<%= folder.id %>/delete" method="post" onsubmit="return confirm('Are you sure you want to delete the folder: <%= folder.name %>?');">
          <button type="submit" class="folder-menu__item folder-menu__item--danger">Delete Folder</button>
        </form>
      </span>
    </span>
  <% } else { %>
    <p class="greeting">All Files</p>
  <% } %>
  </div>
  <div class="layout-submenu__btns">
    <%- include('add-file') %>
    <a href="/folders/new" class="btn"><i data-feather="plus" class="btn-feather-icon"></i>&ensp;New folder</a>
  </div>
</div>

<script>
  let showAccountMenu = false;

  const toggle = document.querySelector(".account-menu-toggle")
  const menu = document.querySelector(".account-menu")

  toggle?.addEventListener('click', () => {
    showAccountMenu = !showAccountMenu

    if (showAccountMenu) {
      menu.classList.remove('hidden')
    } else {
      menu.classList.add('hidden')
    }
  })

  let showFolderMenu = false;

  const folderToggle = document.querySelector(".folder-menu-toggle")
  const folderMenu = document.querySelector(".folder-menu")

  folderToggle?.addEventListener('click', () => {
    showFolderMenu = !showFolderMenu

    if (showFolderMenu) {
      folderMenu.classList.remove('hidden')
    } else {
      folderMenu.classList.add('hidden')
    }
  })
</script>