<header class="site-header">
  <div class="site-logo-container">
    <a href="/">Drivebox</a>
  </div>

  <search class="search">
      <form action="<%= currentPath %>" method="GET" class="search-form">
        <input type="search" name="search" placeholder="Search..." class="searchbar" />
        <button type="submit" class="search-submit">Search</button>
      </form>
  </search>

  <span class="account-section">
    <% if (user) { %>
      <button class="account-menu-toggle">My Account</button>
    
      <span class="account-menu hidden">
        <span class="account-menu-greeting">Hi, <%= user.username %>!</span>
        <small class="account-menu-detail"><%= user.email %></small>
        <hr>
        <button>Settings</button>
        <button>Manage Account</button>
        <button>Theme</button>
        <hr>
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      </span>
    <% } %>
  </span>
</header>

<div class="layout-submenu">
  <% if (typeof folder !== 'undefined') { %>
    <p class="greeting"><%= folder.name %></p>
  <% } else { %>
    <p class="greeting">All Files</p>
  <% } %>
  <div class="layout-submenu__btns">
    <%- include('add-file') %>
    <a href="/folders/new" class="btn"><i data-feather="plus" class="btn-feather-icon"></i>&ensp;New folder</a>
  </div>
</div>

<script>
  let showAccountMenu = false;

  const toggle = document.querySelector(".account-menu-toggle")
  const menu = document.querySelector(".account-menu")

  toggle?.addEventListener('click', () => {
    showAccountMenu = !showAccountMenu

    if (showAccountMenu) {
      menu.classList.remove('hidden')
    } else {
      menu.classList.add('hidden')
    }
  })
</script>