<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= folder.name %> - Drivebox</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('shared/layout')%>

    <main class="folder-detail">
      <div class="folder-detail__header">
        <h2 class="folder-detail__title"><%= folder.name %></h2>
        <a href="/folders/<%= folder.id %>/edit" class="folder-detail__button">Edit Folder</a>
        <form action="/folders/<%= folder.id %>/delete" method="post" onsubmit="return confirm('Are you sure you want to delete the folder: <%= folder.name %>?');">
          <button type="submit" class="folder-detail__button">Delete Folder</button>
        </form>
      </div>
      <% if (!folder.files) { %>
        <p>No items in this folder.</p>
      <% } %>
    </main>
  </body>
</html>
