<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= folder.name %> - Drivebox</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('shared/layout')%>

    <main class="folder-detail">
      <!-- <div class="folder-detail__header">
        <h2 class="folder-detail__title"><%= folder.name %></h2>
        <a href="/folders/<%= folder.id %>/edit" class="folder-detail__button">Rename Folder</a>
        <form action="/folders/<%= folder.id %>/delete" method="post" onsubmit="return confirm('Are you sure you want to delete the folder: <%= folder.name %>?');">
          <button type="submit" class="folder-detail__button">Delete Folder</button>
        </form>
      </div> -->
      <% if (search) { %>
        <p>Showing results for "<%= search %>"</p>
        <a href="<%= currentPath %>">Clear</a>
      <% } %>
      <% if (!files) { %>
        <p>No items in this folder.</p>
      <% } else { %>
        <section class="files">
          <ul class="files-grid">
            <% files.forEach(file => { %>
              <li>
                <a href="/files/<%= file.id %>" class="file-elements">
                  <img src="/images/save.png" alt="" class="file-icon">
                  <span class="file-name"><%= file.name %> (<%= file.mimeType %>, <%= file.size %> bytes)</span>
                </a>
              </li>
            <% }) %>
          </ul>
        </section>
      <% } %>
    </main>
    <%- include('shared/footer') %>
  </body>
</html>
