<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drivebox</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('shared/layout') %>

  <main>
    <% if (user) { %>
      <main style="padding: 2rem;">
        <!-- <p class="greeting">Welcome back, <%= user.username %></p> -->

        <section class="files">
          <h2 class="files-heading">Files</h2>
          <ul class="files-grid">
            <% files.forEach(file => { %>
              <a href="" class="file-elements">
                <img src="/images/save.png" alt="" class="file-icon">
                <span class="file-name"><%= file.name %> (<%= file.mimeType %>, <%= file.size %> bytes)</span>
              </a>
            <% }) %>
          </ul>
        </section>

        <section class="folders">
          <h2 class="folders-heading">Folders</h2>
          <ul class="folders-grid">
            <% folders.forEach(folder => { %>
              <a href="/folders/<%= folder.id %>"} class="folder-elements">
                <img src="/images/folder.png" alt="" class="folder-icon">
                <span class="folder-name"><%= folder.name %></span>
              </li>
            <% }) %>
          </ul>
        </section>
      </main>
    <% } else { %>
      <main class="content-card-wrapper">
        <%- include('shared/login-form') %>
      </main>
    <% } %>
  </main>
</body>
</html>
